/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:centre;
	align-item:centre;
}
.di{
	allign:center;
}
img{
	width:400px;
	height:250px;
	padding:10px;
	object-fit: cover;
	
}
button{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
	
}